{% include jark.html %}

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f4666fa613f5d326500003f');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18936522-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <div class="grid_3 alpha sidebar">
      <div class="block">

        <ol>
            <ul>
              <li><a href="/jark/index.html">About</a></li>
              <li><a href="/jark/started.html">Getting started</a></li>
              <li><a href="/jark/features.html">Features</a></li>
              <li><a href="/jark/repl.html">REPL</a></li>
              <li><a href="/jark/scripting.html">Scripting</a></li>
              <li><a href="/jark/roadmap.html">Roadmap</a></li>
              <li><a href="https://github.com/icylisper/jark-client/issues" target="_new">Issue tracker</a></li>
              <li><a href="/jark/build.html">Build</a></li>
              <li><a href="/jark/downloads.html">Downloads</a></li>
              <li><a href="https://groups.google.com/group/clojure-jark" target="_new">Mailing List</a></li>
              <li><a href="/jark/wishlist.html">Wishlist</a></li>
            </ul>
          </li>
        </ol>
      </div>

    </div>
    <div class="grid_9 omega guide">
      {{ content }}
    </div>

{% include footer.html %}
